.container
{
    margin: 0px auto;
    display: block;
    width: 1050px;
    height: 0;
}

.navigation
{
    position: fixed;
    margin-left: 0px;
    width: 320px;
    float: left;
    padding-top: 0px;
    padding-bottom: 0px;
}

.content
{
    color: #252525!important;
    padding-bottom: 20px!important;
    width: 730px;
    float: right;
    padding-top: 50px;
}

.section
{
    padding-bottom: 70px;
    padding-right: 50px;
}

    .section > h3
    {
        line-height: 120%;
        -webkit-font-smoothing: antialiased;
        color: rgb(247, 129, 25);
        font-family: 'Segoe UI Light', 'Segoe UI', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Verdana, sans-serif;
        font-size: 36px;
        font-weight: 200;
        margin: 0;
        padding: 0;
        padding-bottom: 30px;
    }

    .section > p
    {
        line-height: 130%;
        margin: 0;
        padding: 0;
    }
